body,
html {
    font-family: sans-serif;
}

.map {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 100%;
    background-color: gray;
}

.customBK .leaflet-popup-tip,
.customBK .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

.customOther .leaflet-popup-tip,
.customOther .leaflet-popup-content-wrapper {
    background: #003366;
    color: #ffffff;
}
